<ng-container *ngIf="messageBox?.showMessageContainer === true">
  <div>
    <div class="custome-alert text-left alert " [ngClass]="{'alert-success': messageBox?.msgClass === 'success', 'alert-danger': messageBox?.msgClass === 'blocker'}" role="alert" >
      {{messageBox?.messageContent | translate}}
    </div>
  </div>
</ng-container>
<form [formGroup]="crudForm" class="cmxform mt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="amount">{{'label.password' | translate}} :</label>
        <input [ngClass] = "{'input-error-box': (crudForm.controls.password.errors && isSubmitClicked)}" id="password" class="form-control" formControlName="password" type="password" aria-invalid="true">
        <label class="error text-danger" *ngIf="(crudForm.controls.password.errors && isSubmitClicked)">{{'error.password.mandatory' | translate}}</label>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="amount">{{'label.cnfpassword' | translate}} :</label>
        <input [ngClass] = "{'input-error-box': (crudForm.controls.cnfPassword.errors && isSubmitClicked)}" id="confpassword" class="form-control" formControlName="cnfPassword" type="password" aria-invalid="true">
        <label class="error text-danger" *ngIf="(crudForm.controls.cnfPassword.errors && isSubmitClicked)">{{'error.cnfpassword.mandatory' | translate}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
        <button type="button"  class="btn btn-primary" (click)="onSubmitClicked()" ><i class="ti-save font-weight-bold"></i> {{'label.save' | translate}}</button>
    </div>
  </div>
</form>
<div class="spinner" *ngIf="showSpinner">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>