<div class="row" *ngIf="basicDetails?.length > 0">
  <div class="col-3 mt-3">
    <label>{{'label.house' | translate}}</label>
    <div>{{(basicDetails?.houseId) || "&mdash;"}}</div>
  </div>

  <div class="col-3 mt-3">
    <label>{{'label.builder' | translate}}</label>
    <div>{{(basicDetails?.builder) || "&mdash;"}}</div>
  </div>

  <div class="col-3 mt-3">
    <label>{{'label.type' | translate}}</label>
    <div>{{(basicDetails?.type) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.bhk' | translate}}</label>
    <div>{{(basicDetails?.bhk) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.location' | translate}}</label>
    <div>{{(basicDetails?.location) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.finance' | translate}}</label>
    <div>{{(basicDetails?.finance) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.financeamount' | translate}}</label>
    <div>{{(basicDetails?.financeAmount) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.bank' | translate}}</label>
    <div>{{(basicDetails?.bank) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.rm' | translate}}</label>
    <div>{{(basicDetails?.rm) || "&mdash;"}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.bookeddate' | translate}}</label>
    <div>{{house}}</div>
  </div>
  <div class="col-3 mt-3">
    <label>{{'label.handoverdate' | translate}}</label>
    <div>{{(basicDetails?.handoverDate) || "&mdash;"}}</div>
  </div>
</div>