
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-uppercase">{{'label.createuser' | translate}}</h4>
      <div class="media">
        <i class="ti-user icon-lg text-info d-flex align-self-start mr-3 text-warning"></i>
        <div class="media-body">
          <p class="card-text">{{'label.createuser.summary' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <a routerLink ="/login/user" class="auth-link">{{'label.back' | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>



