<!-- Dummy Modal Starts -->
<div class="modal demo-modal">
  <div class="modal-dialog modal-body-custom">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{popupTitle}}</h5>
        <button type="button" class="close" (click) = "activeModalService.close('close')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{content}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Dummy Modal Ends -->