<div class="row">
    <div class="col-md-12 stretch-card">
      <nav aria-label="breadcrumb" style="width:100%">
        <ol class="breadcrumb breadcrumb-custom">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><span>Library</span></li>
        </ol>
      </nav>  
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="border-bottom text-center pb-4">
                <img src="assets/images/avatar-2.png" alt="profile" class="img-lg rounded-circle mb-3"/>
                <div class="mb-3">
                  <h4>{{userPofile.firstName}} {{userPofile.lastName}}</h4>
                </div>
              </div>
              <div class="border-bottom py-4">
                <h5>{{'label.about' | translate}}</h5>
                <div class="text-left">
                  <p class="mb-3 text-left">{{userPofile.about}}</p> 
                </div>                                                               
              </div>
              <div class="border-bottom py-4">
                <div class="d-flex mb-3">
                  <div class="progress progress-md flex-grow">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="55" style="width: 55%" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="progress progress-md flex-grow">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" style="width: 75%" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="py-4">
                <p class="clearfix">
                  <span class="float-left">
                      {{'label.firstname' | translate}}
                  </span>
                  <span class="float-right text-muted">
                    Active
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                      {{'label.lastname' | translate}}
                  </span>
                  <span class="float-right text-muted">
                    006 3435 22
                  </span>
                </p>
                <p class="clearfix">
                    <span class="float-left">
                        {{'label.mobile' | translate}}
                    </span>
                    <span class="float-right text-muted">
                      006 3435 22
                    </span>
                  </p>
                  
                <p class="clearfix">
                  <span class="float-left">
                      {{'label.email' | translate}}
                  </span>
                  <span class="float-right text-muted">
                    Jacod@testmail.com
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Facebook
                  </span>
                  <span class="float-right text-muted">
                    <a href="#">David Grey</a>
                  </span>
                </p>
                <p class="clearfix">
                  <span class="float-left">
                    Twitter
                  </span>
                  <span class="float-right text-muted">
                    <a href="#">@davidgrey</a>
                  </span>
                </p>
              </div>
              <button class="btn btn-primary btn-block mb-2">Preview</button>
            </div>
            <div class="col-lg-6">
              <div class="border-bottom py-4">
                <h6 class="text-uppercase">{{'label.banking' | translate}}</h6>
                <div class="text-left">
                  <p class="clearfix" *ngFor = "let bank of piggyBanks">
                    <span class="float-left">
                        {{(bank['bank']) || "&mdash;"}}
                    </span>
                    <span class="float-right text-muted">
                      {{(bank['purpose']) || "&mdash;"}}
                    </span>
                  </p>
                </div>                                                               
              </div>
              <div class="border-bottom py-4 position-relative">
                <h6 class="text-uppercase">{{'label.resetpassword' | translate}}</h6>
                <div class="text-left">
                  <app-resetpassword></app-resetpassword>
                </div>                                                               
              </div>
              <div class="border-bottom py-4">
                <h6 class="text-uppercase">{{'label.resetlanguage' | translate}}</h6>
                <div class="text-left">
                  <ng-container *ngIf="messageBox?.showMessageContainer === true">
                    <div class="">
                      <div class="custome-alert text-left alert " [ngClass]="{'alert-success': messageBox?.msgClass === 'success', 'alert-danger': messageBox?.msgClass === 'blocker'}" role="alert" >
                        {{messageBox?.messageContent | translate}}
                      </div>
                    </div>
                  </ng-container>
                  <form [formGroup]="lngForm" class="cmxform mt-4">
                    <div class="form-group relative">
                      <div class="select-custom">
                        <select class="form-control form-control-lg w-100" formControlName="language" (change)="updateLanguage($event.target.value)">
                          <ng-container *ngFor="let rel of languages">
                            <option [value] = "rel.value" >{{rel.name}}</option>
                          </ng-container>
                        </select>
                        </div>
                      <label class="error text-danger" *ngIf="(lngForm.controls.language.errors && isSubmitClicked) || (lngForm.controls.language.value === '0' && isSubmitClicked)">{{'error.language.mandatory' | translate}}</label>
                    </div>
                  </form>
                </div>                                                               
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>