<div class="row">
  <div class="col-md-12 stretch-card">
    <nav aria-label="breadcrumb" class="custom-breadcrumb">
      <ol class="breadcrumb breadcrumb-custom">
        <li class="breadcrumb-item"><a routerLink ="/secure/dashboard">{{'menu.dashboard' | translate}}</a></li>
        <li class="breadcrumb-item"><a routerLink ="/secure/garage">{{'menu.garage' | translate}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span>{{'label.transaction' | translate}}</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-12 grid-margin stretch-card" *ngIf="!showSpinner">
    <div class="card">
      <div class="card-body">
        <h4 class=" text-uppercase"><i class="icon ti-marker-alt"></i> {{'label.transaction' | translate}} <span> - {{_manipulatedReference.VH[vehicleId]}}</span></h4>
        <div class="table-responsive mt-5" >
          <table class="table" *ngIf='!showSpinner && result?.length > 0'>
            <thead>
              <tr class="text-uppercase">
                <th>{{'label.sno' | translate}}</th>
                <th>{{'label.item' | translate}}</th>
                <th class="text-right">{{'label.amount' | translate}}</th>
                <th>{{'label.purpose' | translate}}</th>
                <!-- <th>{{'label.transactiondate' | translate}}</th> -->
                <th class="text-right">{{'label.action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-capialize" *ngFor="let record of result; let sno = index">
                <td># {{sno + 1}}</td>
                <td>{{(record.item) || "&mdash;"}}</td>
                <td class="text-right">{{(record.amount | asqCurrency) || "&mdash;"}}</td>
                <td>{{(_manipulatedReference.VHPUR[record.purpose]) || "&mdash;"}}</td>
                <!-- <td>{{(record.tranxDate | asqDate) || "&mdash;"}}</td> -->
                <td class="text-right">
                  <i *ngIf="!hasMatured" class="ti-pencil-alt font-weight-bold text-warning text-link" (click)="editData(record.id);"></i>
                  &nbsp;<i class="icon-eye font-weight-bold text-warning text-link" (click)="viewData(record);"></i>
                  &nbsp;<i *ngIf="!hasMatured" class="icon-trash font-weight-bold text-warning text-link" (click)="editData(record.id);"></i>
                </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td colspan="8" *ngIf = "errorMessge"> {{ errorMessge | translate }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8" style="border:none">
                  <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" (pageChange) = loadPage($event)></ngb-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="col-12 text-warning mt-5 text-center" *ngIf="result?.length < 1">
            <h6 class="font-weight-bold">{{'message.nodatafound' | translate}}</h6>
          </div>
          <div class="col-12 text-right mt-5">
            <button type="button" [disabled] = "hasMatured" class="btn btn-primary" (click)="createNew();"><i class="ti-pencil font-weight-bold"></i> {{'label.addnew' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner spinner-fixed-position" *ngIf="showSpinner">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>