/* You can add global styles to this file, and also import other style files */

.text-link{
  cursor: pointer;
}
.disbaled, .readonly{
  color: #333333;
}
.custome-alert {
  font-size: 1rem;
  line-height: 1.5rem;
}
.btn-light{
  color: unset !important;
}
.bg-light{
  background-color: unset !important;
}

.content-wrapper {
  position: relative !important;
}

.custom-breadcrumb{
  width: 100% !important;
  text-transform: capitalize !important;
}

.navbar .navbar-brand-wrapper .navbar-brand img{
  height: unset !important;
}

.postion-fixed{
  position:fixed !important;
}
.position-relative{
  position: relative !important;
}

.relative{
  position: relative !important;
}
.select-custom{
  >select{
    appearance: none;
    outline: none;
    padding-right: 28px !important;
  }
  >select::-ms-expand{
    display: none;
  }
  &::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 15px;
    right: 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    //border-color: #ccc;
    transform: rotate(45deg);
    pointer-events: none;
  }
}
.select-custom-nolabel{
  >select{
    appearance: none;
    outline: none;
    padding-right: 28px !important;
  }
  >select::-ms-expand{
    display: none;
  }
  &::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 15px;
    right: 30px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    //border-color: #ccc;
    transform: rotate(45deg);
    pointer-events: none;
  }
}

select{
  //margin-top: 4px;
 // border-radius: 0;
 // background-color: #ccc;
  text-align: left;
  padding: 12px 5px 10px 12px;
  font-weight: normal;

}
select{
  cursor: pointer;
  >option{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin: 10px;
    
  }
}
select.form-control{
  //border: 1px solid !important;
  border-radius: 0 !important;
  }
select.form-control-lg :not() {
height: calc(2.875rem_2px);
}
.panel-bb{
  border-bottom: 1px solid #666;
}
/* modal custome classes */
.custom-class-md {
    .modal-lg{
        width: 50%;
    }
}
.modal-content{
  border-radius: 0 !important;
  border: none !important;
}

.modal-body-custom{
    max-width: 100%;
}
.modal-header{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.modal-title{
    text-transform: uppercase !important;
    font-size: 1.3rem;
}
.modal-header .close {
    padding: 0px;
}
.modal .modal-dialog .modal-content .modal-header .close span {
    font-size: 50px;
    font-weight: 200;
}
.modal-dialog{
  margin-bottom: unset !important;
}
.input-error-box{
  border: 1px solid red !important;
}
.input-error-withimage-right{
    border-right-color: red !important;
    border-top-color: red !important;
    border-bottom-color: red !important;
}
.input-error-withimage-left{
    border-left-color: red !important;
    border-top-color: red !important;
    border-bottom-color: red !important;
}
label.error{
  font-size: 0.95rem !important;
}
.label-custom{
  display: block;
  border-bottom: 1px dashed #666;
  line-height: 24px;
}
.form-group{
  label{
  font-weight: 500 !important;
  font-size: 0.95rem !important;
  }
}


.spinner-fixed-position{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.spinner{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 1px;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(72, 72, 72, 0.44);

  >.loading{
    position: relative;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width:  auto;
    height: auto;
    >i{
      font-size: 48px;
      opacity: 0.5;
    }
  }
}
.spinner::before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}  
.spin{
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.lds-ellipsis{
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e8e8e8;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0)
  }
  100% {
    transform: translate(19px, 0);
  }
}
